.card {
    margin: 2rem;
    min-width: 20rem;
}
#SaveNameButton{
    display: inline-block;
}
#playerName{
    width: 15rem;
    margin-right: 2rem;
}
.picks{
    display: none;
}
#whichPlayer{
    display: none;
}
#resultsCard{
    min-width: 10rem;
}
.card-body{
    text-align: center;
}
#chatBox{
    width: 30rem;
    height: 10rem;
}
#chatUserText{
    width: 30rem;
    margin-right: 2rem;
}
.chatArea{
    margin-left: 25%;
}
#chatText{
    text-align: left;
    line-height: 0.3rem;
    padding: 0.5rem;

}
#gameScore{
    display: none;
    text-align: center;
}